.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
    padding-top: 1em;
}

.site-main {
    margin-bottom: 1em;
}

.content-area, .widget-area {
    margin-bottom: 0;
}

.site-content{
    background-color: #f0f0f0;
}


.module-image {
    position: relative;
    cursor: pointer;
    margin-bottom: 3em;
}
.module-image img {
    width: 100%;
    object-fit: fill;
    border-radius: 0px;
}
.module-image:hover::before {
    box-shadow: 0 0 0 15px rgba(0,0,0,0.2) inset;
}
.module-image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    pointer-events: none;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}


/* - start --------------------- top-section --------------------- */

.top-section {
    margin-bottom: 1em;
}

.top-section .slider-wrapper {
    width: 1185px;
    float: left;
}

.top-section .banner-wrapper {
    float: right;
}

.top-section .banner-wrapper img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.module-image img.mobile,
.top-section .banner-wrapper .banner1 img.mobile {
    display: none;
}

.top-section .banner-wrapper .banner1 {
    width: 315px;
}

.top-section .banner-wrapper .banner2 {
    margin-top: 15px;
    width: 315px;
}

.top-section .top {
    margin-bottom: 15px;
}

.top-section .bottom {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.top-section .bottom .iconedtext {
    width: 25%;
    padding: 0px 20px;
    float: left;
    pointer-events: none;
}
.top-section .bottom .iconedtext:not(:first-child) {
    border-left: 1px solid #ebebeb;
}
.top-section .bottom .iconedtext img{
    margin: 0px auto;
}

.top-section .bottom .iconedtext .banner-text{
    text-align: center;
}

.top-section .bottom .iconedtext .banner-text h4{
    font-size: 1.3em;;
    color: #363f4d;
    margin: 0;
    font-weight: 500;
}
.top-section .bottom .iconedtext .banner-text p{
    font-size: 13px;
    color: #959595;
    margin: 0;
}
.top-section .bottom .iconedtext > a:hover{
    opacity: 0.7;
}

/* - end --------------------- top-section --------------------- */


/* - start --------------------- center-section --------------------- */

.center-section {
    margin-bottom: 1em;
}

.center-section .white-wrapper {
    box-shadow: 500px 0 0px 0px #fff, -500px 0 0px 0px #fff;
    background-color: #fff;
    padding: 3em 0;
}

.center-section .first .content {
    width: 75%;
    background-color: #fff;
    float: left;
}

/* сайдбар */
.center-section .first .sidebar {
    width: 25%;
    background-color: #fff;
    float: right;
    padding-left: 40px;
}

/* продуктслайдер */
.products-slick-slider.num2,
.products-slick-slider.num3 {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}
.products-slick-slider.num2 .title,
.products-slick-slider.num3 .title {
    background: var(--color-red);
    border-radius: 5px 5px 0 0;
}
.products-slick-slider.num2 .title .nav,
.products-slick-slider.num3 .title .nav {
    color: #fff;
}
.products-slick-slider.num2 .slick-slide,
.products-slick-slider.num3 .slick-slide {
    border-right: none;
}

/* слайдер категорий */
.products-slick-slider.num4 {
}
.products-slick-slider.num4 .slick-slide  {
    padding: 0;
}
.products-slick-slider.num4 .product img {
    margin: 10px 0;
}
.products-slick-slider.num4 .slick-slide > div {
    padding: 10px 15px;
}
.products-slick-slider.num4 .slick-slide > div:first-child {
    border-bottom: 1px solid #f0f0f0;
}

/* Instagram сайдбар */
.insta-sidebar {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin-bottom: 2em;
}
.insta-sidebar .title {
    border-bottom: 1px solid #d2d2d2;
    margin-top: 0.5em;
    padding: 0px 15px;
}
.insta-sidebar .title h4 {
    float: left;
}
.insta-sidebar .title img {
    float: right;
    margin: 5px 0;
}
.insta-sidebar .wrapper {
    padding: 9px 15px 0px 15px;
}

/* Недавно просмотренные */
.products-slick-slider.num3 .slick-slide > div:first-child {
    margin-bottom: 2em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 2em;
}

.center-section .second {
    height: 70px;
    background-color: #643b4d;
    display: none;
}
.center-section .third {
    height: 100px;
    background-color: #640c1f;
    display: none;
}

/* - end --------------------- center-section --------------------- */


/* - start --------------------- last-section --------------------- */

.last-section .product-block {
    width: 33.3%;
    height: 100px;
    background-color: #b05d1f;
    float: left;
    display: none;
}

/* - end --------------------- last-section --------------------- */

.homepage-r-sdbar-widget.widget .widget-title {
    padding: 0;
}
.homepage-r-sdbar-widget.widget a {
    color: var(--color-darkgray-light);
}